div.ui-header.ui-bar-b > div > ul > li.ui-block-a > a {
  background-color: rgba(38, 0, 255, 0.747);

}

div.ui-header.ui-bar-b > div > ul > li.ui-block-b > a {
  background-color: rgba(38, 0, 255, 0.747);

}

div.ui-header.ui-bar-b > div > ul > li.ui-block-c > a {
  background-color: rgba(38, 0, 255, 0.747);

}

div.ui-header.ui-bar-b > div > ul > li.ui-block-d > a {
  background-color: rgba(38, 0, 255, 0.747);

}

#home > div.ui-content.ui-body-b {
  background-color: rgb(37, 87, 252);
}

#backlog > div.ui-content.ui-body-b {
  background-color: rgb(37, 87, 252);
}

#search-filter > div.ui-content.ui-body-b {
  background-color: rgb(37, 87, 252);
}

#add > div.ui-content.ui-body-b {
  background-color: rgb(37, 87, 252);
}

h2 {
  background-color: rgba(0, 140, 255, 0.747);
  border-radius: 10px;
}

div.ui-header.ui-bar-b > div > ul > li:hover {
  background-color: yellow;
}

#backlogUL > li {
  padding: 3px;
  margin: 5px;
}

#backlogUL > li > a:hover {
  background-color: darkblue;
}

#filteredUL > li {
  padding: 3px;
  margin: 5px;
}

#filteredUL > li > a:hover {
  background-color: darkblue;
}

table, th, td{
  border: 10px solid rgb(125, 200, 243);
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 20px;
}